
* {
	box-sizing:border-box;	
}
@media(min-width: 992px) {
.col-lg-4{
	float: left;
	width:30%;
	margin:15px;
	}
}
@media(min-width: 768px ) and (max-width: 991px) {
.col-md-6{
	float: left;
	width:48%;
	margin:5px;
}
.col-md-12{
	float: left;
	width:97%;
	margin:7px;
	}
}
@media(max-width: 767px) {
.col-sm-12{
	float:left;
	width:96%;
	margin:2%;
	}
}
h1 {
	text-align:center;
	padding:10px
}
div {
	display:block;
}
section {
	padding:10px;
}
.division {
	text-align:center;
	background-color: grey;
	border: 3px solid black;	
	overflow: auto;
}
#pirmas {
	background-color: #FFBF00;
	width : 100px;
	margin-top:0;
	margin-right:0;
	margin-left:auto;
	margin-bottom:0;
	font-size:125%;
	text-align:center;
	border-left : 3px solid black;
	border-bottom: 3px solid black;	
	border-right:0px solid black;	
	border-top: 0px solid black;	
	padding: 5px;
}	
#antras {
	background-color: #088A08;
	width : 100px;
	margin-top:0;
	margin-right:0;
	margin-left:auto;
	margin-bottom:0;
	font-size:125%;
	text-align:center;
	border-left : 3px solid black;
	border-bottom: 3px solid black;	
	border-right:0px solid black;	
	border-top: 0px solid black;	
	padding: 5px;
}
#trecias {
	background-color: #DF0101;
	width : 100px;
	margin-top:0;
	margin-right:0;
	margin-left:auto;
	margin-bottom:0;
	font-size:125%;
	text-align:center;
	border-left : 3px solid black;
	border-bottom: 3px solid black;	
	border-right:0px solid black;	
	border-top: 0px solid black;	
	padding: 5px;
}